{% extends "template.html" %}

{% block content %}

<p>This application is essentially a very elaborate shitpost. It came about as a result of a discussion between <a href="http://reasonoptional.tumblr.com/">@reasonoptional</a> and <a href="http://dormarunt.tumblr.com/">@DorMarunt</a></p>

<p>The content was provided by <a href="https://bi-and-dangerous.tumblr.com/">@bi-and-dangerous</a>, <a href="https://czpla.tumblr.com/">@czpla</a> and <a href="http://dormarunt.tumblr.com/">@DorMarunt</a></p>

<p>The site was written in <a href="https://www.python.org/">python</a>, using <a href="https://pypi.org/project/Flask/">Flask</a>, <a href="https://pypi.org/project/psycopg2/">psycopg2</a> and <a href="https://pypi.org/project/PyTumblr/">pytumblr</a>. It lives on <a href="https://heroku.com/">heroku</a>.</p>

{% endblock %}
