<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fanfic Tropes Bingo</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
        <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Lobster&display=swap">
        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <header>
            <h1><a href="{{ url_for('index') }}">Fanfic Tropes</a></h1>
            <h2>Bingo</h2>
                <label><input type="checkbox" id="lightmode"><span>Light mode</span></label>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>v{{ version }} © {{ year }} <a href="https://reasonoptional.tumblr.com">Reason: optional</a></p>
            <p><a href="{{ url_for('about') }}">What's this?</a></p>
        </footer>

        {% block scripts %}
        {% endblock %}

        <script>
            function getLightMode() {
                return JSON.parse(window.localStorage.getItem("fanfic-tropes-light-mode"));
            }
            
            function applyLightMode() {
                const isLightMode = getLightMode();
                const span = document.querySelector("header label span");
                
                if (!!isLightMode) {
                    document.body.classList.add("light");
                    span.innerText = "Dark mode";
                } else {
                    document.body.classList.remove("light");
                    span.innerText = "Light mode";
                }
            }
            
            function switchLightMode(e) {
                e.preventDefault();
                window.localStorage.setItem("fanfic-tropes-light-mode", JSON.stringify(e.target.checked));
                
                applyLightMode();
            }
            
            function decideLightMode() {
                const lightSwitch = document.querySelector("#lightmode");

                lightSwitch.checked = getLightMode();
                lightSwitch.addEventListener("input", switchLightMode);
                
                applyLightMode();
            }

            decideLightMode();

        </script>
    </body>

</html>
